#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#about{
    margin-top: 100px;
}

#discussion-container {
  margin-top: 50px;
}

.comment-form {
  display: block;
}

.post {
  margin-top: 25px;
  border: 1px solid green;
}

.photo {
    max-height: 50%;
    max-width: 50%;
    display: block;
    margin-bottom: 20px;
}

.post-title {
  font-weight: bold;
}

.post-content {
  margin-left: 50px;
}

.paragraph-1 {
  display: inline;
}

.quiz-intro {
  margin-top: 50px;
}

.navbar {
    position: fixed;
    margin: auto;
    display: inline-block;
    top: 0;
    overflow: hidden;
    width: inherit;
    background-color: grey;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.hidden {
    display: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

h3{
    margin-left: 75px;
}

h1{
    margin-left: 75px;
}

body{
    color: #40514E;
}