#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.photo {
    max-height: 50%;
    max-width: 50%;
    display: inline-block;
    margin: auto;
}

.navbar {
    position: fixed;
    margin: auto;
    display: inline-block;
    top: 0;
    overflow: hidden;
    width: inherit;
    background-color: grey;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.headers{
    margin-left: 75px;
}

body{
    color: #40514E;
}